<header>
  
    <div class="container__menu">
      <div class="logo">
        <img src="./assets/img/logo.png" class="logo" />
      </div>
      <div class="menu">
        <i class="fas fa-bars" id="btn_menu" (click)="mostrar_menu()"></i>
        <div id="back_menu"  (click)="ocultar_menu()"></div>
        <nav id="nav">
          <div class="logo__menu">
            <img src="./assets/img/logo.png" />
          </div>
          
          <ul>
            <li><a href="#" routerLink="inicio" id="selected">inicio</a></li>
            <li><a href="#" routerLink="rutinas">Rutinas</a></li>
            <li><a href="#" routerLink="productos">Productos recomendados</a></li>
            <li><a href="#" routerLink="enfermedades">Enfermedades comunes</a></li>
            <li><a href="#" routerLink="tipos-piel">Tipos de piel</a></li>
            <li><a href="#" routerLink="dermatologos">Dermatologos</a></li>
            <li><a href="#" routerLink="tiendas">Tiendas</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>