<div class="text">
    <div class="tittle-pagina">
        <span>Enfermedades comunes en la piel</span>
    </div>
    <br><br>
    <div class="video">
        <video width="640" height="360" controls>
            <!-- Fuente del video -->
            <source src="../../../assets/videos/enfermedad.mp4" type="video/mp4">
        </video>
    </div>
    <br><br>
    <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
              <audio controls>
                <source src="../../../assets/audios/enfermedades.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio><span><br>Reproduce el audio en dado caso de que no quieras leer c:</span>
            <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
    <p>
        La piel es el órgano más grande de nuestro cuerpo y desempeña un papel fundamental en nuestra salud y bienestar. 
        Desde protegernos contra el entorno exterior hasta reflejar nuestro estado de salud interno, la piel es un indicador 
        valioso de nuestro bienestar general. En esta página web, te invitamos a explorar el fascinante mundo de la piel, 
        entender cómo funciona y aprender acerca de las enfermedades cutáneas más comunes que pueden afectarnos a lo largo 
        de la vida.<br><br>

        La piel es una barrera protectora que enfrenta constantemente desafíos, como la exposición al sol, los cambios 
        climáticos y la interacción con diversas sustancias. Esta interacción a veces puede llevar al desarrollo de afecciones 
        cutáneas que van desde irritaciones menores hasta problemas más serios.
    </p>

    <div class="tittle">
        <span>Tendencia al acné y tipos</span>
    </div>
    
    <p>
        El acné es una de las enfermedades de la piel que ocurre cuando los poros se tapan con grasa y células muertas 
        de la piel. Provoca espinillas, puntos negros o granos. El acné es más común entre los adolescentes, aunque puede 
        afectar a otros grupos de edad.
        <br><br>
        Existen tratamientos efectivos para el acné, pero este puede ser persistente. Los granos y erupciones se curan 
        lentamente, sin embargo es posible que mientras uno desaparece otro pueda aparecer.
        <br><br>
        El acné se presenta distintos grados de severidad, puede pasar desapercibido o dejar cicatrices o manchas en la 
        piel que a su vez, generan trastornos emocionales. Comúnmente se presenta en la cara, hombros, pecho y espalda. 
        Es importante iniciar un tratamiento a tiempo. En el siguiente vídeo se hablará sobre los diferentes tipos de 
        acné que existen:
    </p>
    <br><br>
    <div class="video">
        <video width="640" height="360" controls>
            <!-- Fuente del video -->
            <source src="../../../assets/videos/tipos_acne.mp4" type="video/mp4">
        </video>
    </div>
    <br><br>

    <div class="tittle">
        <span>Rosácea</span>
    </div>

    <p>
        La rosácea es la hinchazón crónica de la cara, presentando además enrojecimiento, vasos sanguíneos prominentes y granos.
        La rosácea suele ser más común en mujeres mayores de 30 años, pero los hombres también pueden verse afectados. Problemas 
        con el sistema inmunológico, los problemas de las venas y hasta problemas ambientales pueden causar la afección.
    </p>

    <div class="centrar-imagen">
        <img src="../../../assets/img/enfermedades/rosacea.jpg" width="350px" height="300px" >
    </div>
    
    <br><br>
    <div class="tittle">
        <span>Eczema</span>
    </div>
    
    <p>
        La dermatitis atópica es una de las formas más comunes de eccema que puede afectar a niños y en algunos casos a adolescente 
        y adultos. En realidad, se desconoce la causa exacta de la dermatitis atópica, pero se cree que puede estar relacionada 
        con la genética, el medio ambiente y el sistema inmunológico.
        La dermatitis atópica puede aparecer en la cara (especialmente en bebés), manos, pies o en los pliegues y pliegues de la 
        piel. La piel seca, escamosa y con picazón es lo más común y rascarse constantemente puede provocar un área engrosada. 
        Si bien el eccema a menudo ocurre en personas con alergias, las alergias no causan eczema.
    </p>

    <div class="centrar-imagen">
        <img src="../../../assets/img/enfermedades/eczema.jpeg" width="350px" height="250px" >
    </div>
    <br><br>
    <div class="tittle">
        <span>Queratosis</span>
    </div>

    <p>
        La queratosis actínica es una de las enfermedades de la piel que se presenta como una mancha áspera y escamosa después de 
        años de exposición solar. Suele aparecer en las partes del cuerpo que están expuestas al sol, como cara, labios, orejas, 
        antebrazos, cuero cabelludo, cuello y dorso de las manos. Es considerada como precáncer de piel.
    </p>

    <div class="centrar-imagen">
        <img src="../../../assets/img/enfermedades/queratosis.png" width="350px" height="300px" >
    </div>

    <div class="tittle"><span>Dermatitis por contacto</span></div>
    <p>
        La dermatitis por contacto se manifiesta en forma de un sarpullido que aparece tras el contacto directo con una 
        sustancia determinada. Hay diversos agentes irritantes que pueden provocar este evento clínico, entre los que destacan 
        los solventes, los guantes de goma, las lejías, los jabones, los fertilizantes, los pesticidas y ciertas plantas. 
        Su prevalencia general es de 13,6 casos por cada 1000 personas, una cifra nada desdeñable.
    </p>

    <div class="centrar-imagen">
        <img src="../../../assets/img/enfermedades/dermatitis.jpg" width="350px" height="300px" >
    </div>
    <br><br>
    <div class="tittle"><span>Quemaduras por sol</span></div>
    <p>
        Este apartado se explica por sí solo. Las quemaduras son algunos de los problemas de la piel más comunes porque todas 
        las personas nos exponemos al sol en exceso en algún momento de nuestras vidas. Tal y como indican fuentes epidemiológicas, 
        hasta el 34 % de la población reporta haber sufrido al menos una quemadura solar al año, lo que evidencia su extensión en 
        la población general.<br><br>

        Las quemaduras solares suelen cursar con inflamación, calidez al tacto, dolor, sensibilidad, picazón y ampollas pequeñas. 
        A menos que sean de naturaleza grave y requieran atención médica urgente, estas lesiones se pueden tratar con analgésicos 
        de venta libre, refrescando la piel con toallas humedecidas y la aplicación de cremas hidratantes, lociones y geles.
    </p>
    <div class="centrar-imagen">
        <img src="../../../assets/img/enfermedades/quemadura.jpeg" width="350px" height="300px" >
    </div>
</div>
