<div class="text">
    <div class="tittle-pagina">
        <span>Rutinas</span>
    </div>
    <br>
    <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
              <audio controls>
                <source src="../../../assets/audios/rutinas.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio><span><br>Reproduce el audio en dado caso de que no quieras leer c:</span>
            <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
    <p>
        Para empezar a cuidar nuestra piel necesitamoes tener una rutina de limpieza
        que nos haga quitar todas las impurezas que acumulamos en el día e incluso
        después de dormir ya que la almohada guarda bacterias.Una rutina de cuidado 
        de piel mínima y completa es la que incluye tres pasos: desmaquillar y limpiar, 
        hidratar o humectar y proteger. 
    </p>

    <br>
    <p>
        Los pasos van aumentando en la medida en que identificas necesidades específicas 
        de tu piel, tales como manchas o líneas de expresión. Sin embargo, tener una rutina 
        que incluya muchos pasos no garantiza que sea la más efectiva. Al final, los resultados 
        dependen del tipo de ingredientes que tenga cada producto y el conocimiento que existe 
        detrás de la formulación.
    </p>
    <br>

    <p>
        Hoy en día existen cada vez más opciones que te ofrecen varias soluciones en un mismo 
        producto, lo cual ayuda a tu piel y también al medio ambiente al producir y desechar menos frascos.
        A continuación veremos las rutinas que se recomienda hacer en el día y noche, además de una extra
        que se conoce como rutina coreana y otra recomendada por un dermatologo.
    </p>
    <div class="video">
        <video width="640" height="360" controls>
            <!-- Fuente del video -->
            <source src="../../../assets/videos/video_rutinas.mp4" type="video/mp4">
        </video>
    </div>
    

    <div class="tittle">
        <span>Rutina de día</span>
    </div>

    <p>
        Como dijimos anteriormente, dependiendo de cómo es tu tipo de piel (que lo puedes checar en la sección: 
        <a href="http://localhost:4200/tipos-piel">Tipos de piel</a> ) 
        tienes que cubrir con los requisitos que necesite tu piel para que este esplendida y reluciente, pero lo
        que tiene que cubrir una rutina para tu día a día es lo siguiente:
    </p>
    <ol>
        <li>Jabón facial, agua micelar o gel limpiador ideal para tu tipo de piel.</li>
        <li>Sérum de vitamina C para dar uniformidad a la piel.</li>
        <li>Sérum de ácido hialurónico para aportar hidratación extra.</li>
        <li>Crema hidrantante.</li>
        <li>Protector solar mínimo 50 SPF.</li>
      </ol>
    
    <div class="tittle">
        <span>Rutina de noche</span>
    </div>

    <p>
        Cuando ya hemos finalizado nuestro día, lo ideal es lavarnos nuestra piel para que se pueda limpiar de
        todo lo que se ha expuesto como es las bacterias, el sol, la contaminación y suciedad en general que hacer
        que nuestra piel se vaya maltratando y que asi salgan algún tipo de enfermedades como se menciona en
        nuestra <a href="http://localhost:4200/enfermedades">Enfermedades comúnes</a> o simplemente aparezcan
        líneas de expresión prematuras, entonces lo mejor es relajarnos y seguir la siguiente rutina para 
        tener un tiempo con nosotras:
    </p>
    <ol>
        <li>Agua micelar para desmaquillar (también sirve para limpiar el bloqueador solar).</li>
        <li>Jabón o gel limpiador para limpiar los excesos.</li>
        <li>Mascarilla facial, puede ser para exfoliar (recomendado el uso de 1 o 2 veces por semana) o hidratar.</li>
        <li>Sérum con vitamina C para aclarar y unificar el tono</li>
        <li>Opcional un suero facial con ácido hialurónico o que tenga retinol.</li>
        <li>Crema hidratante o gel hidrantante.</li>
      </ol>
    
    <div class="tittle">
        <span>Rutina coreana</span>
    </div>

    <p>
        Esta rutina se basa principalmente en la técnica del “layering”, es decir, aplicar el producto capa sobre capa, 
        empezando por el más denso y terminando por el más fluido, ya que así las distintas texturas se absorben en la piel fácilmente.
    </p>
    <br>

    <p>
        El punto de partida es la doble limpieza, un paso muy importante en la rutina coreana, ya que tener la piel correctamente 
        limpia y libre de impurezas (y no sólo de maquillaje) es la base sobre la que trabajarán los demás productos de la rutina coreana.
        Se dará a conocer los 10 pasos que sigue en la siguiente imágen:
    </p>
    <div class="video">
        <img src="../../../assets/img/rutinas/rutina_corena.png" width="850px" height="1100px">
    </div>
    
    <br><br>
    <div class="tittle">
        <span>Recomendaciones por dermatólogos</span>
    </div>
    
    <p>
        De acuerdo con un dermatologo de la Vogue recomienda la siguiente rutina que se mostrará en el siguiente vídeo:
    </p>
    <div class="video">
        <video width="640" height="360" controls>
            <!-- Fuente del video -->
            <source src="../../../assets/videos/recomendaciones.mp4" type="video/mp4">
        </video>
    </div>
</div>

