<main>
    <div class="container__cover">
        <div class="cover">
            <div class="text">
                <div class="tittle">
                    <h1>Inicio</h1>
                </div>
                <div class="video">
                  <video width="640" height="360" controls>
                      <!-- Fuente del video -->
                      <source src="../../../assets/videos/inicio.mp4" type="video/mp4">
                  </video>
              </div>
              <br><br>
              <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
              <audio controls>
                <source src="../../../assets/audios/indice.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio><span><br>Reproduce el audio en dado caso de que no quieras leer c:</span>
            <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
           
              <p>
                ¡Bienvenido a nuestro rincón de la belleza y el cuidado de la piel!

                En este espacio dedicado al cuidado de tu piel, te invitamos a descubrir un universo de secretos 
                y consejos que te ayudarán a resplandecer con una piel radiante. Nuestra misión es brindarte 
                información precisa y confiable sobre skincare, respaldada por la ciencia y la experiencia.
              </p>
                <br>
                <p>
                Encontrarás todo lo que necesitas para entender tu piel y cómo mantenerla en óptimas condiciones. 
                Desde rutinas de cuidado adaptadas a tu tipo de piel hasta recomendaciones de productos probados y 
                aprobados por expertos, nuestro objetivo es guiarte en este apasionante viaje hacia una piel saludable y hermosa.
                </p>
                
                <br>
                <p>
                Acompáñanos mientras exploramos los secretos de una piel luminosa y rejuvenecida. Juntos descubriremos 
                cómo cada elección que hagamos puede influir en nuestra apariencia y bienestar. Prepárate para transformar 
                tu rutina diaria de skincare en un ritual que celebre tu auténtica belleza.
                </p>
                <br>
                <p>
                ¡Estamos emocionados de compartir este viaje contigo y ayudarte a lograr una piel deslumbrante!
              </p>

              <div class="tittle">
                <h1>¿Para que sirve el skincare?</h1>
              </div>
              <p>
                El Skincare es el cuidado que le damos a nuestra piel para mantenerla saludable. 
                Se asocia con las rutinas que seguimos y los productos que usamos para que la piel 
                de nuestro rostro luzca fresca y sana. 
              </p>
              <br>
              <p>
                Alrededor del cuidado de la piel existe infinidad de información, mitos y realidades 
                que pueden influir en tu decisión de compra de productos. Te ayudamos a tomar las mejores 
                decisiones en SkinSave, aquí encontrarás todo lo que tienes que saber 
                acerca del cuidado de la piel.
              </p>

              <div class="tittle">
                <h1>Acerca de nosotros</h1>
              </div>
              
              <p>
                Nos encargamos de ayudar a las personas que quieren empezar a cuidar su piel y no saben por
                donde empezar, que productos le quedaria bien a su piel o si sufren de alguna enfermedad para
                que puedan consultar un dermatologo o no.

                Además damos diferentes tips que te pueden a ayudar a tener un piel hermosa e hidratada, donde
                puedes encontrar algunos productos o tiendas recomendadas donde puedes encontrar ese producto a
                un buen precio.
              </p>
              <div class="container mt-5">
              <p>Contactanos para más información o por si tienes duda en algo</p>
                <a href="http://localhost:4200/info" class="btn btn-primary">Más información</a>
              </div>
              
              <!-- Agrega el enlace al archivo JavaScript de Bootstrap (opcional, pero se recomienda) -->
              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                
            </div>
  
            
        </div>
    </div>
  </main>
