<footer>
    <div class="container-footer-all">
      <div class="container-body">
        <div class="column1">
          <h2>Más información del proyecto</h2>
          <p>
            Se trata de ayudar a las personas que quieran hacer un cuidado a su piel, en especial de la cara, donde la edad no importa.
          </p>
        </div>
        <div class="column2">
          <h2>Redes sociales</h2>
          <div class="fila">
            <img src="../../../assets/icons/facebook.png">
            <label>Síguenos en Facebook</label>
          </div>
          <div class="fila">
            <img src="../../../assets/icons/tiktok.png">
            <label>Síguenos en Tiktok</label>
          </div>
          <div class="fila">
            <img src="../../../assets/icons/instagram.png">
            <label>Síguenos en Instagram</label>
          </div>
        </div>
        <div class="column3">
          <h2>Información de contacto</h2>
          <div class="fila2">
            <img src="../../../assets/icons/smartphone.png">
            <label>+52 722 140 9067</label>
          </div>
          <div class="fila2">
            <img src="../../../assets/icons/contact.png">
            <label>skinSave@outlook.com</label>
          </div>
        </div>
      </div>

      
    </div>
    <div class="container-footer">
      <div class="footer">
        <div class="copy">
          © 2023 Todos los derechos resercados | <a href="">AKMM</a>
        </div>
        <div class="info">
          <a href="">Privación y Política</a> | <a href="">Términos y condiciones</a>
        </div>  
      </div>
     
    </div>

    
  </footer>