<div class="tittle-pagina">
    <span>Dermatólogos</span>
</div>

<div class="video">
    <video width="640" height="360" controls>
        <!-- Fuente del video -->
        <source src="../../../assets/videos/dermatologos.mp4" type="video/mp4">
    </video>
</div>
<div class="text">
    <p>
        <br>
        Y bueno, una vez que ya sabemos quiénes son los dermatólogos, veamos a algunos de ellos para que veas
        donde puedes encontrar algunos, además de ver cuánto es lo que cobra su cita por lo general y en que se 
        especializa.
        <br><br>
        Además te haré unas recomendaciones de personas que hacen videos en sus redes sociales para compartir 
        información valiosa sobre el skincare y sobre lo que se ha hablado en SkinSave, que cabe mencionar que 
        sirve para ser como una guía en dado de no contar con el dinero suficiente para ir con un dermatologo o 
        solo tienes algunas dudas, con sus vídeos te podrás dar una idea de que te puede funcionar o no, además de 
        recomendar productos económicos y fáciles de encontrar.
    </p>
</div>
<div class="text">
    <div class="columna">
        <h2><strong>
            Dr. Eliseo Alarcón Rivera</strong></h2>
        <p>
            Es un dermatólogo especializado en enfermedades de transmisión sexual, enfermedades del cabello y de las uñas,
            infecciones de la piel y dermatología estética. Ha tratado enfermedades como el acné, cáncer de piel, dermatitis
            atópica, melasma, verrugas, psoariasis, vitiligio, alopecia areata, manchas de la edad y alopecia androgénica.<br>
            Tiene varios horarios donde puedes agendar una cita (la cita cuesta $800 pesos).
            <br><br>
            Y lo puedes encontrar en la siguiente dirección: <br><br>
            <i>Clínica Dermatológica Especializada<br>
                Vialidad Metepec 284 Piso 3, Torre San Juan, frente al Chedruiwi Metepec o lasser visión, Metepec</i>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3766.6774121569047!2d-99.5985489!3d19.252885799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDE1JzEwLjQiTiA5OcKwMzUnNTQuOCJX!5e0!3m2!1ses!2smx!4v1698900910473!5m2!1ses!2smx" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
        <br>

       <br><br> <h2><strong>Nayeli Gómez Hernández</strong></h2>
        <p>
            Es una dermatóloga especializada en detección precoz del cáncer de piel, cirugía de la piel, criocirugía y enfermedeades
            del cabello y de las uñas. Ha tratado enfermedades como caspa, melasma, nevos, rosácea, manchas de la edad, dermatitis atópica,
            onicomicosis, acné, verrugas, calvicie de patrón masculino, alopecia areata, molusco contagioso, cambios en la piel inducidos por
            el sol, foliculitis, piel sensible, urticaria, cambios vasculares de la piel, dermatitis por contacto, hiperhidrosis, vitiligio,
            alopecia androgénica, cicatriz queloide, eczema, dermatitis seborreica, melanoma, infección de la piel por hongos levaduriformes,
            acrocordones, condiloma acuminado, dermatitis perioral, penfigoide ampolloso, micosis, queratosis: tumores benignos de la piel, 
            queratosis senil, herpes zóster (culebrilla), dermatitis herpetiforme, acantosis pigmentaria, granuloma piógeno, liquen simple 
            crónico, pitiriasis alba, queratosis pilar, queratosis alérgica, queratosis actínica, dermatitis alérgica, pitiriasis rosada, 
            hemangioma, esclereodermia, hemangioma capilar congénito y dermatitis Cenicienta.<br>
            Tiene bastante horarios disponibles, además de que cuenta con consultas en línea en dado caso de que se te dificulte ir y la
             puedes encontrar en la siguiente dirección: <br><br>
             <i>Médica Bosques<br>
                Juan Rodriguez No 414, Toluca</i>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3766.1280638831718!2d-99.66268919999999!3d19.2767963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDE2JzM2LjUiTiA5OcKwMzknNDUuNyJX!5e0!3m2!1ses!2smx!4v1698902000417!5m2!1ses!2smx" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br><br>

        <h2><strong>Dra. Silvia Cristina Jaramillo Manzur</strong></h2>
        <p>
            Es una dermatóloga especializada en detección precoz del cáncer de piel, enfermedades del cabello y de las uñas, micología y 
            dermatología estética. Ha tratado enfermedades como el acné, cáncer de piel, dermatitis atópica, melasma, verrugas, psoriasis, 
            vitiligio, alopecia areata, manchas de la edad, alopecia androgénica, rosácea y lunares.<br>
            Cuenta con citas presenciales y en línea, además de contar con varios horarios, su consultorio está en la siguiente dirección: <br><br>
            <i>Consultorio Dra. Cristina Jaramillo Manzur edificio 1412 interior 402
                José Clemente Orozco 2360, Tijuana</i>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3364.0823045880416!2d-117.0138168!3d32.5239487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzLCsDMxJzI2LjIiTiAxMTfCsDAwJzQ5LjciVw!5e0!3m2!1ses!2smx!4v1698902482519!5m2!1ses!2smx" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br><br>

        <h2><strong>Dra. Dora Herminia Bojórquez García</strong></h2>
        <p>
            Es una dermatóloga con 5 años de experiencia que está especializada en detección precoz del cáncer de piel, infecciones de la piel, 
            manejo avanzado de heridad y dermatología estética. Ha tratado enfermedades tales como acné, cáncer de piel, dermatitis atópica, melasma, 
            verrugas, psoriasis, vitiligio, alopecia areada, manchas de la edad, onicotriptosis, rosácea, onicomicosis, dermatitis Cenicienta, eczema, 
            heridad agudas y crónicas, dermatitis en general, revisión y retiro de lunares y micosis.<br>
            Cuenta con citas en línea y presencial, donde su consultorio está en la siguiente dirección: <br><br>
            <i>Médica Mía<br>
                Blvd. Miguel Alemán 57, Parque Industrial Lerma Toluca, Lerma</i>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3765.749895318883!2d-99.5578537!3d19.2932396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDE3JzM1LjciTiA5OcKwMzMnMjguMyJX!5e0!3m2!1ses!2smx!4v1698902899915!5m2!1ses!2smx" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br><br>

        <h2><strong>Dra. Mariela Flores Vergara</strong></h2>
        <p>
            Es una dermatóloga especializada en detección precoz del cáncer de piel, enfermedades del cabello y de las uñas, infecciones de la piel y 
            dermatolo estética. Ha tratado enfermedades como dermatitis alérgica, eczema, manchas de la edad, melanoma, vitiligio, melasma, hiperhidrosis, 
            molusco contagioso, dermatitis por contacto, lunar, dermatitis atópica, caspa, urticaria, oricomiosis, cambios en la piel inducidos por el sol, 
            verrugas, cáncer de piel, nevos, alopecia areata, acné rosácea, alegias, herpes zóster (culebrilla), acné, dermatitis seborreica, acné vulgar, 
            alopecia en hombres, alopecia androgénica, rosácea y rejuvenecimmiento.<br>
            Cuenta con consultas en línea y en presencial y está es su siguiente dirección:<br><br>
            <i>Médica Mia - Torre57
                Blvd Miguel Alemán No. 57, Lerma</i>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3765.752221398472!2d-99.55568699999999!3d19.293138499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDE3JzM1LjMiTiA5OcKwMzMnMjAuNSJX!5e0!3m2!1ses!2smx!4v1698903567559!5m2!1ses!2smx" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <br><br><br><br><br><br>
        <h2><strong>Rosshanna Bracho</strong></h2>
        <p>
            Es una blogger que da consejos sobre skincare ya que ella lleva bastante tiempo en el mundo del cuidado de la cara y con sus videos da consejos de que productos puedes ocupar o no dependiendo de tu tipo de piel o necesidad como puedes ver en las otras secciones de SkinSave.
        Además de que es la puedes encontrar en casi cualquier red social para poder contactarla, pero de cualquier modo, aquí está su correo personal: missmonroe.blog@gmail.com<br><br>
        Y sus redes sociales:<br>
        <img src="../../../assets/icons/facebook.png" width="20" height="20">  <a href="https://www.facebook.com/RosshannaBracho"> Facebook</a><br>
        <img src="../../../assets/icons/tiktok.png" width="20" height="20"> <a href="https://www.tiktok.com/@rosshanna.bracho?_t=8gyrUE8hpS9&_r=1"> Tiktok</a><br>
        <img src="../../../assets/icons/instagram.png" width="20" height="20"> <a href="https://instagram.com/rosshannabracho?igshid=MzMyNGUyNmU2YQ=="> Instagram</a><br>
        <img src="../../../assets/icons/youtube.png" width="20" height="20"> <a href="https://www.youtube.com/@RosshannaBracho"> YouTube</a> <br>

        </p>
        <br><br><br><br><br><br><br><br><br>
        <h2><strong>Alejandro Morales</strong></h2>
        <p>
            Es alguien que se dedica a subir reels en Facebook que dan tips y consejos sobre cuidados hormonales y de skincare, es de Colombia.
            <br><br>Su Facebook:<br>
            <img src="../../../assets/icons/facebook.png" width="20" height="20"><a href="https://www.facebook.com/profile.php?id=793040359"> Facebook</a><br>
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2><strong>Skinbc</strong></h2>
        <p>
            Es una cuenta de tiktok que se dedica a dar consejos sobre skincare, pero más enfocados en los productos de The ordinary que son de los que tiene más videos explicando cómo los puedes usar y en que zonas se deben de utilizar, además de su funcionamiento y cómo va a afectar 
            en tu piel. Ademas es una tienda en linea colombiana que venden principalmente de las marcas The ordinary, ISDIN y CeraVe.<br><br>
            Su TikTok y tienda en línea:<br>
            <img src="../../../assets/icons/tiktok.png" width="20" height="20">  <a href="https://www.tiktok.com/@skinbc"> TikTok</a><br>
            <img src="../../../assets/icons/carrito.png" width="20" height="20">  <a href="https://skinbc.co/collections/all"> Tienda en línea</a><br>
        </p>
        <br><br><br><br><br><br><br><br><br><br>
        <h2><strong>Stolz.store</strong></h2>
        <p>
            Es una tienda de skincare que es especializada en el tema por lo que hace recomendaciones más que todo en proudctos de The ordinary, Eucerin, CeraVe y entre otras marcas, pero las principales son esas, como mencione, son una tienda, pero es online y que hace envíos a todo 
            Salvador y da una breve explicación de cómo funcionan los productos en la piel o en que ayuda a tratar el problema.<br><br>
            Su instagram:<br>
            <img src="../../../assets/icons/instagram.png" width="20" height="20"> <a href="https://www.instagram.com/stolz.store?igshid=MzMyNGUyNmU2YQ%3D%3D"> Instagram</a><br>

        </p>
        
    </div>
    <div class="columna">
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/5.png" width="300" height="500"></div>
        <br><br><br><br><br><br><br><br><br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/1.png" width="300" height="500"></div>
        <br><br><br><br><br><br><br><br><br><br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/4.png" width="300" height="500"></div>
        <br><br><br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/3.png" width="300" height="500"></div>
        <br><br><br><br><br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/2.png" width="300" height="500"></div>  
        <br><br><br><br><br><br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/6.png" width="300" height="500"></div>
        <br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/7.png" width="300" height="500"></div>
        <br><br><br><br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/8.png" width="300" height="500"></div>
        <br>
        <div class="centrar-imagen"><img src="../../../assets/img/tarjetas/9.png" width="300" height="500"><br></div>
    </div>
</div>
