<main>
    
    <div class="tittle-pagina">Más información</div>
        <div class="text">
        <div class="tittle">Información de contacto</div>
        <p>
        Telefono: +52 722 140 9067
         <br><br>
        Correo electrónico: skinSave@outlook.com
        </p>
            
        <div class="tittle">Siguenos en nuestras redes sociales</div>
        <img src="../../../assets/icons/instagram.png"  width="35" height="35">
        <label> Síguenos en Instagram</label>
        <br><br>
        <img src="../../../assets/icons/facebook.png"  width="35" height="35">
        <label> Síguenos en Facebook</label>
        <br><br>
        <img src="../../../assets/icons/tiktok.png"  width="35" height="35">
        <label> Síguenos en TikTok</label>

        <div class="tittle">Un pequeño manual</div>
        <span>En las siguientes imagenes se mostrara el uso de los principales componentes de nuestra página: </span><br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/1.png" width="700px" height="400px">
        </div>
        <br>   
        <div class="centrar-imagen">
            <img src="../../../assets/img/2.png" width="700px" height="400px">
        </div>   
        <br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/3.png" width="700px" height="400px">
        </div>  
        <br>
        
        <div class="tittle">Referencias y para más información</div>
        <p>
            1. Página de Nivea: <a href="https://www.nivea.com.mx/consejo/rutina-de-skincare">https://www.nivea.com.mx/consejo/rutina-de-skincare</a><br>
            2. Página Nuda Est: <a href="https://nudaest.com/blogs/blog/skin-care-que-es-y-sus-rutinas">https://nudaest.com/blogs/blog/skin-care-que-es-y-sus-rutinas</a><br>
            3. Página Bellisima: <a href="https://bellisima.mx/blogs/beauty-blog/skin-care-para-que-sirve">https://bellisima.mx/blogs/beauty-blog/skin-care-para-que-sirve</a><br>
            4. Página AHAL Bio Cosmetica: <a href="https://www.ahal.mx/blogs/ahal-1/skin-care-que-es-y-que-pasos-debes-seguir">https://www.ahal.mx/blogs/ahal-1/skin-care-que-es-y-que-pasos-debes-seguir</a><br>
            5. Página Instyle: <a href="https://www.instyle.es/moda/los-mejores-productos-para-acne-que-puedes-comprar-drogueria_37934">https://www.instyle.es/moda/los-mejores-productos-para-acne-que-puedes-comprar-drogueria_37934</a><br>
            6. Página de Super honesta: <a href="https://superhonesta.com/cosmetica/productos-granos-acne.html">https://superhonesta.com/cosmetica/productos-granos-acne.html</a><br>
            7. Página de Revista Vanityfair: <a href="https://www.revistavanityfair.es/compras/articulos/mejores-cremas-despigmentantes-eliminar-manchas/51316">https://www.revistavanityfair.es/compras/articulos/mejores-cremas-despigmentantes-eliminar-manchas/51316</a><br>
            8. Página de Glamour: <a href="https://www.glamour.es/belleza/tratamientos/galerias/crema-hidratante-quitar-manchas-cara/15064">https://www.glamour.es/belleza/tratamientos/galerias/crema-hidratante-quitar-manchas-cara/15064</a><br>
            9. Página El español: <a href="https://www.elespanol.com/imprescindibles/20200429/productos-definitivos-eliminar-puntos-negros/480452546_0.html">https://www.elespanol.com/imprescindibles/20200429/productos-definitivos-eliminar-puntos-negros/480452546_0.html</a><br>
            10. Página de ABC: <a href="https://www.abc.es/favorito/cuidado-personal/belleza/abci-5-cremas-antiarrugas-mas-eficaces-y-economicas-mercado-202106301340_noticia.html">https://www.abc.es/favorito/cuidado-personal/belleza/abci-5-cremas-antiarrugas-mas-eficaces-y-economicas-mercado-202106301340_noticia.html</a><br>
            11. Página El mundo: <a href="https://www.elmundo.es/yodona/belleza/2021/05/13/6099285efc6c83c63d8b4652.html">https://www.elmundo.es/yodona/belleza/2021/05/13/6099285efc6c83c63d8b4652.html</a><br>
        </p>

    </div>
  </main>
