body, html {
    height: 100%;
    margin: 0;
  }

  .tittle-pagina{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-style:normal;
    font-weight: 1000;
    font-size: 50px;
    background-color: rgb(239, 199, 250);
}

.tittle{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-style: italic;
    font-weight: 1000;
    font-size: 30px;
}
  
  .text {
    display: flex;
    font-family: 'Century Gothic';
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(245, 204, 233);
    padding: 20px;
  }

  .audio {
    font-family: 'Century Gothic';
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(245, 204, 233);
    padding: 20px;
  }
  
  .columna {
    font-family: 'Century Gothic';
    flex: 1; /* Las columnas ocuparán el mismo espacio */
    padding: 20px;
  }
  
  .centrar-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  /* Opcional: Estilos para hacerlo más atractivo */
  .columna:nth-child(odd) {
    background-color: #faddef;
  }
  
  .columna:nth-child(even) {
    background-color: #feeaf8;
  }
  
  .video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 204, 233);
    margin-left: 100px;
    margin-right: 100px;
}