<div class="tittle-pagina">
    <span>Productos recomendados</span>
</div>
<div class="audio">
    <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
    <audio controls>
    <source src="../../../assets/audios/productos.mp3" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
    </audio>
    <span><br>Reproduce el audio en dado caso de que no quieras leer c:</span>
    <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
</div>
<div class="tittle">
    <span>Para el acné</span>
</div>
<div class="text">
    <p>
        Primero tienes que identificar tu tipo de piel que podrás identificar en nuestra sección
        de <a href="http://localhost:4200/tipos-piel">Tipos de piel</a>, 
        ya de acuerdo que tengas puedes buscar productos 
        específicos, pero empecemos con los que son para poder tratar el acné
    </p>
</div>

<div class="text">
   
    <div class="columna">
       <h2><strong>Anti-acné, Nezeni Cosmetics</strong></h2>
        <p>
        Con acción antibacteriana para reducir granos y espinillas, exfolia suavemente la piel desincrustando
         la suciedad y células muertas de los poros, hidrata sin asfixiar la piel, evita las marcas y desinflama. 
         Su fórmula natural, no comedogénica y baja en conservantes está especialmente indicada para el cuidado de 
         las pieles acneicas, y la marca recomienda usarlo en conjunto con el resto de productos de la gama anti-acné 
         de 4 pasos para conseguir los mejores resultados
       </p>
       <br>
       <h2><strong>Limpiador facial suave Cleanance de Avène</strong></h2>
       <p>
        El Cleanance de Avène es un clásico que funciona bien: limpia con suavidad y sin resecar la piel en exceso. 
        Si utilizas bastante maquillaje, hazte con un bálsamo desmaquillante o agua micelar apta para pieles mixtas 
        o grasas para realizar antes de este gel, como ritual de doble limpieza.
       </p>
       <br>
       <h2><strong>Sérum de Niacinamida 10% + Zinc 1% de The Ordinary</strong></h2>
       <p>
        La niacinamida, también conocida por vitamina B3 o nicotinamida, es una vitamina soluble en agua que ayuda a 
        minimizar visiblemente los poros dilatados gracias a su capacidad de regular la grasa que producimos, mejorar 
        el tono desigual de la piel, suavizar las líneas de expresión y arrugas, y reparar la barrera natural de la piel.
        <br><br>
        Este producto de The Ordinary te gustará si tu piel está inflamada y genera tanta grasa que suelen aparecer 
        espinillas y comedones en tu piel. Aplícalo después de limpiar tu cara con un limpiador facial suave y antes de 
        tu crema hidratante diaria. 
       </p>
       <br>
       <h2><strong>Crema hidratante en gel Hydro Boost de Neutrogena</strong></h2>
       <p>
        Busca cremas hidratantes para piel grasa ligeras y sin aceites, como esta en textura gel de Neutrogena. 
        Es importante no saltarse el paso de la hidratación, aunque tu piel sea muy grasa. Úsala mañana y noche.
       </p>
    </div>
    <div class="columna">
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/nezeni.jpg" width="200px" height="200px">
        </div>
        <br><br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/avene.png" width="200px" height="200px">
        </div>
        <br><br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/the_ordinary.jpg" width="200px" height="200px">
        </div>
        <br><br><br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/neutrogena.png" width="300px" height="200px">
        </div>
      </div>
</div>

<div class="tittle">
    <span>Para líneas de expresión</span>
</div>
<div class="text">
    <p>
        Pasemos a los productos que te pueden ayudar a quitar las líneas de expresión
        que se van generando conforme crecemos, pero pueden aparecer si no damos un buen cuidado 
        a nuestra piel
    </p>
</div>

<div class="text">
   
    <div class="columna">
       <h2><strong>L’Oréal Paris Revitalift Láser Noche</strong></h2>
        <p>
            Crema de noche con fórmula concentrada en ingredientes activos anti-edad (Pro-Xylane y LHA). 
            Enriquecida con Centalla Asiática reconstituye la función barrera de la piel y corrige las arrugas y 
            las líneas de expresión. Se aplica sobre cara y cuello. Reducción significativa de arrugas en cuatro 
            semanas, restableciendo la suavidad, uniformidad y textura de la piel.
       </p>
       <br>
       <h2><strong>Crema Facial de Ácido Hialurónico</strong></h2>
       <p>
        Crema elaborada con ingredientes orgánicos selectos como el aloe vera, la manteca de cacao altamente nutritiva, 
        el zumo de coco que aporta nutrientes y el aceite de argán con vitaminas que producen una combinación efectiva 
        de ácido hialurónico multimolecular y que actúa sobre la piel alisando las arrugas superficiales, mejorando la 
        estructura general de la piel y proporcionando beneficios reparadores prolongados en la edad.
       </p>
       <br>
       <h2><strong>HA DENSIMATRIX DE MESOESTETIC</strong></h2>
       <p>
        El ácido hiaurónico proporciona una acción hidratante, antiedad, repulpante y rellenadora. En este sérum está presente 
        en varias estructuras moleculares para rellenar arrugas, potenciar la firmeza y elasticidad de la piel y retrasar y 
        corregir los signos de envejecimiento. Tiene una textura fresca y ultraligera de absorción inmediata que se usa dos 
        veces al día, mañana y noche, antes de la crema habitual. 
       </p>
       <br>
       <h2><strong>L’Oréal Paris Revitalift con Protección Solar SPF30</strong></h2>
       <p>
        Crema facial de día para una piel tonificada, hidratada y protegida gracias a una fórmula compuesta por un poderoso 
        ingrediente activo antiarrugas (Pro-Retinol Nuevo), que alisa la superficie del a piel y un complejo reafirmante 
        (Fibrelastyl), que contribuye a la tonicidad.

        Previene la aparición de manchas gracias a la protección contra los rayos UVA/UVB.
       </p>
    </div>
    <div class="columna">
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/loreal.png" width="200px" height="200px">
        </div>
        <br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/crema_acido.jpg" width="300px" height="200px">
        </div>
        <br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/serum_ha.jpeg" width="200px" height="200px">
        </div>
        <br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/loreal_30.jpg" width="200px" height="200px">
        </div>
      </div>
</div>

<div class="text">
    <p>
        Y también para las lineas de expresión puede ayudar los masajes faciales que realmente no son recomendados, 
        pero si se aplica la fuerza moderada y son constantes, no pueden afectar tanto a nuestra cara, entonces se vera en 
        el siguiente video como realizar los ejercicios faciales más comunes y fáciles:
    </p>
</div>

<div class="video">
    <video width="640" height="360" controls>
        <!-- Fuente del video -->
        <source src="../../../assets/videos/masajes.mp4" type="video/mp4">
    </video>
</div>
<br>
<div class="tittle">
    <span>Para quitar manchas</span>
</div>
<div class="text">
    <p>
        Puede existir varios factores de porqué aparecen las manchas en nuestra piel, una de ellas es la enfermedad
        de melanodermias (signo de fotoenvejecimiento que tiene que ver con la exposición con el sol y por genetica),
        otras causas son la hiperqeratosis seniles (zonas foto-expuestas), manchas generalizadas (como las pecas) y la
        queratosis seborréicas (se da más en personas mayores de 30 años).
        <br><br>
        Al hacer el combo fotoprotector + antioxidantes + renovadores celulares bloqueamos parte de los rayos que penetran
        en la piel y neutralizamos los radicales libres responsables del envejecimiento y el cáncer de piel, a la vez que 
        restauramos las funciones celulares dando lugar a una piel más uniforme. También se recomienda el uso de exfoliantes
        que contengan AHA y vitamina C.
    </p>
</div>

<div class="text">
   
    <div class="columna">
       <h2><strong>The Ordinary Ácido Azelaico En Suspensión 10 %</strong></h2>
        <p>
            La fórmula antimanchas de The Ordinary con ácido azelaico ha sido desarrollada con un objetivo claro: reducir las 
            pequeñas imperfecciones de la piel, como las manchas oscuras, pero también el enrojecimiento, el acné y la rosácea 
            gracias a su suave efecto exfoliante y antioxidante. Está diseñada para aplicarse tanto por la mañana como por la 
            noche, siempre acompañada de protección solar de amplio espectro, al tratarse de un ácido.
       </p>
       <br>
       <h2><strong>Eucerin Anti-Pigment</strong></h2>
       <p>
        El Thiamidol, un compuesto patentado por Eucerin, y el pantenol son los dos ingredientes clave de la crema de noche 
        antimanchas para todo tipo de pieles de la marca. Su objetivo es reducir y evitar la aparición de manchas oscuras, 
        además de potenciar la renovación celular mientras duermes. La gama despigmentante de Eucerin, que asegura los primeros 
        resultado en tan solo un par de semanas, cuenta también con una crema de día.
       </p>
       <br>
       <h2><strong>Garnier 20. Crema Sérum con Vitamina C y SPF 25</strong></h2>
       <p>
        Sérum Anti Manchas con 3,5% Vitamina C, Niacinamida y Ácido salicílico. Reduce un 43% la intensidad de las manchas oscuras 
        incluso marcas de acné en solo 8 semanas y aporta luminosidad. Eficacia aprobada por laboratorios. Apto para todo tipo de 
        pieles, testado dermatológicamente. Este sérum lo podrás utilizar a diario mientras tratas la hiperpigmentación y te proteges 
        de los rayos del sol (gracias a su SPF 25). Aporta luz, uniformidad y, afortunadamente, menos manchas. 
       </p>
       <br>
       <h2><strong>Nivea 4. Nivea Cellular luminous 360 antimanchas</strong></h2>
       <p>
        Su fórmula cuenta con SPF50, vitamina E y LUMINOUS 360 antimanchas patentado, un innovador ingrediente diseñador para tratar 
        y prevenir las manchas oscuras. Con su uso diario se protege frente a la intensificación de las manchas, su reaparición y 
        frente al fotoenvejecimiento. El resultado es una piel más lisa, uniforme y luminosa.
       </p>
    </div>
    <div class="columna">
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/the_ordinary_10.jpg" width="200px" height="200px">
        </div>
        <br><br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/eucerin.jpg" width="200px" height="200px">
        </div>
        <br><br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/garnier.jpg" width="200px" height="200px">
        </div>
        <br><br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/nivea.jpg" width="200px" height="200px">
        </div>
    </div>
</div>

<div class="tittle">
    <span>Para puntos negros</span>
</div>
<div class="text">
    <p>
        Los  puntos negros  son básicamente un  cúmulo de grasa  combinada con  restos de células  en la piel. 
        Al quedar retenida en la  glándula sebácea,  se ensucia hasta adquirir ese odioso  color negro. Aparecen en 
        lo que se conoce la zona T (mentón, nariz y frente) que puede generar molestias e inseguridades.
    </p>
</div>

<div class="text">
   
    <div class="columna">
       <h2><strong>Tiras de Nivea</strong></h2>
        <p>
            Las tiras están enriquecidas con ácido cítrico, un ingrediente que se adhiere a la suciedad y las impurezas 
            que obstruyen los poros cuando se activan con agua. Tiene un forro especial de tacto suave, por lo que resultan 
            muy cómodas para la piel. Éstas se adaptan perfectamente a las irregularidades de la piel, como por ejemplo la 
            nariz. Además, aporta una sensación agradable gracias a su aroma a limón.
       </p>
       <br>
       <h2><strong>Gel limpiador facial 3 en 1 carbon pure active de Garnier</strong></h2>
       <p>
        Es un tipo de limpiador que trabaja específicamente los  puntos negros  y el  acné.  Solo tienes que aplicarlo 
        sobre toda tu cara y después enjuagar con mucha agua, de preferencia tibia. 
        Al final tendrás una apariencia matificada gracias al  ácido salicílico,  carbón  y  mora azul  que contiene su fórmula.
       </p>
       <br>
       <h2><strong>Dermo expertise mascarilla facial arcillas puras exfoliante de L'Oreal</strong></h2>
       <p>
        Es un producto que, además de mascarilla, tiene una  función exfoliante  en tu piel. Contiene arcillas puras y algas 
        rojas que minimizan los poros. Aunque es una mascarilla apta para todo tipo de cutis, se recomienda especialmente para  
        pieles grasas  y  mixtas.
       </p>
       <br>
       <h2><strong>Mascarilla PINPOXE</strong></h2>
       <p>
        La mascarilla PINPOXE tiene una fórmula innovadora que incluye extractos marítimos de algas y plancton, que actúan como 
        un tratamiento reparador para la piel. Se puede utilizar para refinar los poros, reducir las arrugas, eliminar los puntos 
        negros y las espinillas y reducir las manchas. Absorberá todo el exceso de grasa y suciedad y equilibrará el agua y el aceite 
        de la piel. Sólo tienes que aplicar uniformemente sobre la piel facial y el escote, evitando la zona de los labios y los ojos, 
        y dejar reposar aproximadamente 10 minutos. Si tienes la piel muy grasa, lo ideal es aplicar varias veces por semana.
       </p>
    </div>
    <div class="columna">
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/tiras_nivea.jpg" width="200px" height="200px">
        </div>
        <br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/garnier_pureactive.jpg" width="200px" height="200px">
        </div>
        <br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/loreal_arcilla.png" width="200px" height="200px">
        </div>
        <br><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/productos/pinpoxe.png" width="200px" height="200px">
        </div>
    </div>
</div>
