<div class="text">
    <div class="tittle-pagina">
        <span>Tiendas</span>
    </div>
    <div class="video">
        <video width="640" height="360" controls>
            <!-- Fuente del video -->
            <source src="../../../assets/img/tiendas/tiendas.mp4" type="video/mp4">
        </video>
    </div>
    <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
              <audio controls>
                <source src="../../../assets/audios/tiendas.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio><span><br>Reproduce el audio en dado caso de que no quieras leer c:</span>
            <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
    <div class="tittle">
        <span>En línea</span>
    </div>
    
    <ul>
        <li><strong>Amazon:</strong> es de la tiendas que mejor tienen ofertas ya que puede llegar a tener hasta el %50 de descuento en 
            marcas como Garnier, Nivea, L'Oreal, entre otras que son buenas y que son más o menos accesibles y que ayudan 
            a poder ajustar nuestro presupuesto en dado caso que sea ajustado.</li><br>
            <div class="centrar-imagen">
                <img src="../../../assets/img/tiendas/amazon.png" width="500px" height="300px">
            </div>
            <br>
        <li><strong>Mercado libre:</strong> en distinas ocasiones puedes encontrar ofertas en las mismas marcas que se mencionaron anteriormente
            solo que es más dificil que ahí los pongan en ofertan o que salgan algunos buenos descuentos durante el año
            más que todo solo se ven esas ofertas en el Black Friday o en el Buen fin.</li><br>
            <div class="centrar-imagen">
                <img src="../../../assets/img/tiendas/mercaado.png" width="500px" height="300px">
            </div><br>
        <li><strong>Berry house club:</strong> es un emprendiminto de México que se dedica a hacer cósmetica vegana
            por lo que puedes encontrar diferentes productos que son hechos de forma artesanal y con productos naturales,
            de los más común es encontrar jabones faciales, bálsamos y un kit para tu cuidado.
            <br>
            Aquí está el link del perfil de su TikTok: <a href="https://www.tiktok.com/@berry.house.club?_t=8geH8VY2LSv&_r=1">Berry house club</a>
        </li><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/tiendas/berry_house.png" width="500px" height="300px">
        </div><br>
        <li><strong>Sprinkles:</strong> es un perfil de instagram que se dedica a vender diferentes productos que son de origen americano
            donde se pueden encontrar como cremas, bálsamos de distintos sabores divertidos, exfoliantes y también se pueden
            encontrar difernetes tipos de maquillaje con temática o sabores de sabores de productos comercialmente famosos como lo es
            Coca-cola, Chupa Chups o ICEE.
            <br>
            Aquí está el link del perfil de su Instagram: <a href="https://www.instagram.com/sprinkles.mex?igshid=MzRlODBiNWFlZA%3D%3D">Sprinkles mex</a>
        </li><br>
        <div class="centrar-imagen">
            <img src="../../../assets/img/tiendas/sprinkles.png" width="500px" height="300px">
        </div><br>
    </ul>
        

    <div class="tittle">
        <span>En físico</span>
    </div>

    <ul>
        <li><strong>Supermercados:</strong> entre ellos está Walmart que son los que tienen más descuentos a lo largo del año y que 
            puedes encontrar siempre los productos más comerciales. El otro que es también donde tienen grandes ofertas 
            y encuentras varios productos es en Bodega Aurrera, que también llega a compartir las ofertas de Walmart al 
            pertenecer a la misma compañía, pero por lo general es más barato ahí.</li><br>
            <div class="centrar-imagen">
                <img src="../../../assets/img/tiendas/supermercados.png" width="500px" height="300px">
            </div><br>
        <li><strong>Farmacias:</strong> en algunas farmacias que llegan a tener buenos descuentos en algunas temporadas del año es 
            Farmacia San Pablo que pueden llegar a tener hasta un 40% de descuento dependiendo cuando lo veas. 
            Otra farmacia es Farmacia similares que tambien puedes encontrar buenos productos y que son económicos 
            como lo es el protector solar se llama Eternal Secrets que tiene una buena cobertura.</li><br>
            <div class="centrar-imagen">
                <img src="../../../assets/img/tiendas/farmacias.png" width="500px" height="300px">
            </div><br>
        <li><strong>La cosmetiquera:</strong> es una tienda que se especializa en hacer productos de cosmetológicos que ayudan a tratar 
            nuestra piel de una manera natural y sin tantos químicos, tiene una gran variedad de productos que van desde 
            productos para el cuidado del cabello hasta productos que sirven tratar problemas de la piel (como cremas, 
            exfoliantes, mascarillas, jabones y tónicos) </li>
            <br>
            También tiene instagram para ver su catalogo de productos: <a href="https://www.instagram.com/la_cosmetiqueria_toluca/">La cosmetiquera</a>
            <br>
            <div class="centrar-imagen">
                <img src="../../../assets/img/tiendas/la_cosmetiquera.png" width="500px" height="300px">
            </div>
    </ul>
</div>

