
    <div class="tittle-pagina">
        <span>Tipos de piel</span>
    </div>
    <br><br>
    <div class="video">
        <video width="640" height="360" controls>
            <!-- Fuente del video -->
            <source src="../../../assets/videos/piel.mp4" type="video/mp4">
        </video>
    </div>
    <div class="audio">
        <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
              <audio controls>
                <source src="../../../assets/audios/tiposPiel.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio><span><br>Reproduce el audio en dado caso de que no quieras leer c:</span>
            <hr style="background-color: rgb(101, 20, 154)(225, 0, 255); height: 2px;">
    </div>
    <div class="text">
    <p>
        Y bueno, después de saber sobre que es la piel, hablemos sobre los cuatro tipos básicos de piel sana: normal, 
        seca, grasa y mixta. El tipo de piel se determina genéticamente. 
        No obstante, el estado de nuestra piel puede variar considerablemente según los diversos factores internos y 
        externos a los que es sometida como puede ser la piel sensible.
    </p>


    <div class="tittle">
        <span>Normal</span>
    </div>
    
    <p>
        "Normal" es un término utilizado ampliamente para referirse a la piel bien equilibrada. 
        El término científico para la piel sana es eudérmica.
    </p>

    <div class="tittle">
        <span>Sensible</span>
    </div>

    <p>
        La piel sensible es una piel más propensa a reaccionar a estímulos a los que la piel normal no reacciona. 
        Es una piel frágil que suele ir acompañada de sensaciones de incomodidad como calor, tirantez, enrojecimiento 
        o picor. En estas pieles hay una pérdida de la función barrera (o protectora) de la piel, lo que facilita la 
        entrada de microorganismos y sustancias irritantes, y aumenta la posibilidad de sufrir infecciones y reacciones 
        alérgicas. Son pieles delicadas que necesitan mayores cuidados para combatir la sequedad, la aspereza y el aspecto 
        que habitualmente presenta5. A veces se habla de piel irritable en lugar de piel sensible, pero son términos 
        sinónimos y no hay diferencias dermatológicas entre ambos.
    </p>
    
    <div class="tittle">
        <span>Seca</span>
    </div>

    <p>
        En muchos casos, la piel seca suele ser algo temporal, causada por factores externos como el clima, la baja humedad 
        del aire y la inmersión en agua caliente. No obstante, en algunas personas la piel seca puede darse con mayor 
        frecuencia e incluso ser una afección de por vida. Aunque en general no suele ser grave, si no se cuida, puede provocar 
        otros problemas cutáneos como eccemas o ser más propensa a sufrir infecciones, ya que la piel seca se puede agrietar 
        quedando más expuesta a bacterias.
        <br><br>
        Los signos y síntomas de la piel seca pueden variar dependiendo de distintos factores como la edad, el estado de 
        salud o de cuál sea su causa. En general, se caracteriza por una sensación de tirantez y aspereza. También puede 
        adquirir un color gris ceniza, aparecer descamación, picor, enrojecimiento y pequeñas grietas. La piel agrietada 
        suele observarse en las pieles muy secas. Aparecen pequeñas grietas, que en ocasiones más graves pueden ser más 
        profundas e incluso llegar a sangrar.
    </p>
    
    <div class="tittle">
        <span>Mixta</span>
    </div>

    <p>
        Según la localización, tiene características de la piel seca y grasa, ya que la distribución de las glándulas 
        sebáceas y sudoríparas no es homogénea. La zona más grasa suele corresponder a la zona T (frente, nariz y barbilla), 
        mientras que en las mejillas la piel es normal o seca.

    </p>
    
    <div class="tittle">
        <span>Grasa</span>
    </div>

    <p>
        Un cutis graso tiene una apariencia porosa, húmeda y brillante. Se produce como resultado de un exceso de producción 
        de grasa por las glándulas sebáceas. Suele estar determinado por causas genéticas y/o hormonales. Es frecuente en 
        adolescentes y jóvenes menores de 30 años, y suele estar relacionada con la aparición de acné.
        <br><br>
        Para poder resumir todo lo anterior, se muestra en la siguiente imagen:
    </p>
    <div class="centrar-imagen">
        <img src="../../../assets/img/tiposPiel/tipos.jpg" width="700px" height="500px" >
    </div>
    
</div>